{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}article detail{% endblock %}

{% block content %}
<div class="container">
    <div class="col-md-9">
        <header>
            <h1>{{ article.title }}</h1>
                <p class="text-muted">
                    <a href="#">{{ article.author }}</a>
                    {{ total_views }}次阅读
                    <a href="{% url 'article:re_edit_article' article.id %}">编辑</a>
                </p>
        </header>

        <link rel="stylesheet" href="{% static 'editor/css/editormd.preview.css' %}">

        <div id="editormd-view">
            <textarea id="append-test" style="display: none">
    {{ article.body }}
            </textarea>
        </div>
    </div>
    <div class="col-md-3">
        <p class="text-center">最受欢迎文章</p>
        <ol>
            {% for article_rank in most_viewed %}
            <li>
                <a href="{{ article_rank.get_url_path }}">{{ article_rank.title|slice:'25' }}</a>
            </li>
            {% endfor %}
        </ol>
    </div>

</div>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'editor/lib/marked.min.js' %}"></script>
    <script src="{% static 'editor/lib/prettify.min.js' %}"></script>
    <script src="{% static 'editor/lib/raphael.min.js' %}"></script>
    <script src="{% static 'editor/lib/underscore.min.js' %}"></script>
    <script src="{% static 'editor/lib/sequence-diagram.min.js' %}"></script>
    <script src="{% static 'editor/lib/flowchart.min.js' %}"></script>
    <script src="{% static 'editor/lib/jquery.flowchart.min.js' %}"></script>
    <script src="{% static 'editor/editormd.js' %}"></script>

    <script type="text/javascript">
            $(function () {
                editormd.markdownToHTML("editormd-view",{
                    htmlDecode:"style,script,iframe",
                    emoji:true,
                    tasklist:true,
                    flowChart:true,
                    tex:true,
                    sequenceDiagram:true,
                });
            });
    </script>
{% endblock %}