{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}article detail{% endblock %}

{% block content %}
<div class="container">
    <div class="col-md-9">
        <header>
            <h1>{{ article.title }}</h1>
                <p class="text-muted">
                    {# 将作者信息追加到url中，并再url中捕获该参数，再到视图中提取该参数的值，查询出该作者对应的文章#}
                    <a href="{% url 'article:list_article_titles_bysomeone' article.author %}">{{ article.author }}</a>
                    {{ total_views }}次阅读
                    <a href="{% url 'article:re_edit_article' article.id %}">编辑</a>
{#                    <p>本文共{{ article.body|wordcount }}个字,阅读需分钟</p>#}
                </p>
        </header>

        <link rel="stylesheet" href="{% static 'editor/css/editormd.preview.css' %}">

        <div id="editormd-view">
            <textarea id="append-test" style="display: none">
    {{ article.body }}
            </textarea>
        </div>

{#        评论区域#}
    <strong>评论区：</strong>
        <div style="background:#F0F0F0; color:#2F2F2F" id="comments">
{#            此处的article.comments.all意思是取得该文章下对应的所有评论，comments就是Comments模型中的#}
{#            article = models.ForeignKey(ArticlePost, related_name='comments')中的related_name的值#}
        {% include 'article/comment.html' %}
{#            {% for comment in article.comments.all %}#}
{#                <div id="comment">#}
{#                <a href="{% url 'article:list_article_titles_bysomeone' comment.user %}"><div>{{ comment.user }}:</div></a>#}
{#                <p>{{ comment.created }}</p>#}
{#                <div style="margin-left: 40px">{{ comment.body }}</div>#}
{#                </div>#}
{#                {% empty %}#}
{#                <p>还没有评论</p>#}
{#            {% endfor %}#}
        </div>

        <h5>留下你的评论</h5>
        <form method="post" class="form-horizontal" role="form">{% csrf_token %}
            {% csrf_token %}
            <div class="form-group">
{#                <label for="inputEmail3" class="col-sm-2 control-label">评论</label>#}
                <div class="col-sm-10">
                    {{ comment_form.body }}
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <input type="button" value="提交" class="btn btn-primary" onclick="commit_comment()">
                </div>
            </div>

        </form>

    </div>
    <div class="col-md-3">
        <p class="text-center">最受欢迎文章</p>
        <ol>
            {% for article_rank in most_viewed %}
            <li>
                    <a href="{{ article_rank.get_absolute_url }}">{{ article_rank.title|slice:'25' }}</a>
            </li>
            {% endfor %}
        </ol>

        <p class="text-center">{{ article.author }}的栏目</p>
        <ol>
            {% for column,count in column_count_dict.items %}
            <li>
                <a href="{% url 'article:list_article_titles_bysomeone' article.author %}?column={{ column }}">{{ column }}({{ count }})</a>
            </li>
            {% endfor %}
        </ol>
    </div>

</div>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'editor/lib/marked.min.js' %}"></script>
    <script src="{% static 'editor/lib/prettify.min.js' %}"></script>
    <script src="{% static 'editor/lib/raphael.min.js' %}"></script>
    <script src="{% static 'editor/lib/underscore.min.js' %}"></script>
    <script src="{% static 'editor/lib/sequence-diagram.min.js' %}"></script>
    <script src="{% static 'editor/lib/flowchart.min.js' %}"></script>
    <script src="{% static 'editor/lib/jquery.flowchart.min.js' %}"></script>
    <script src="{% static 'editor/editormd.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/layer.js'%}"></script>

    <script type="text/javascript">
            $(function () {
                editormd.markdownToHTML("editormd-view",{
                    htmlDecode:"style,script,iframe",
                    emoji:true,
                    tasklist:true,
                    flowChart:true,
                    tex:true,
                    sequenceDiagram:true,
                });
            });
    </script>

    <script type="text/javascript">
            function commit_comment() {
                var formData = new FormData();
                formData.append('body',$('#id_body').val());
                $.ajax({
                    url:"{% url 'article:article_detail' article.id article.slug%}",
                    type:'POST',
                    {#告诉jQuery不要去处理发送的数据, 发送对象。#}
                    processData : false,
                    {#告诉jQuery不要去设置Content-Type请求头#}
                    contentType : false,
                    async : false,
                    data:formData,
                    {#dataType: "json",#}
{#                    此处返回的datas是HTML格式#}
                    success:function (datas) {
                      if(1){
                          $('#comments').html(datas);
                          layer.msg("成功发布");
                          resettext();
                      }else if(datas=='2'){
                          layer.msg("请填写内容");
                      } else{
                          layer.msg("项目名和内容必须填写");
                      }
                      },
              });
          }
    </script>

    <script type="text/javascript">
        function resettext(){
            $('#id_body').val('');
        }
    </script>

{% endblock %}