{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}编辑文章{% endblock %}
{% block content %} 
<div style="margin-left:10px">
    <form class ="form-hoizontal" action ="." method ="post">{% csrf_token %}

     <div class="row" style="margin-top: 10px;">
            <div class="col-md-2 text-right "><span>标题图：</span></div>
            <input type="file" class="col-md-10 text-left" name="avatar" id="avatar">
     </div>

    <div class ="row" style="margin-top: 10px;">
        <div class="col-md-2 text-right "><span>标题：</span></div>
        <div class="col-md-10 text-left ">{{this_article_form.title}}</div>
    </div> 
    <div class ="row" style=" margin-top: 10px;">
        <div class="col-md-2 text-right"><span>栏目：</span></div>
        <div class="col-md-10 text-left">
            <select id="which_column">
                {% for column in article_columns %}
                    {% if column == article.column %}
                        <option selected="selected" value="{{ column.id }}">{{ column.column }}</option>
                    {% else %}
                    <option value=" {{column.id }}">{{column.column}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
    <div class ="row" style="margin-top:10px;">
        <div class=" col-md-2 text-right"><span >内容：</span></div>
        <div id="editormd" class=" col-md-10 text-left ">
            <textarea style="display: none;" id="id_body">
{{ article.body }}
            </textarea>
        </div>
    </div>
    <div class ="row">
        <input type="button" class="btn btn-primary btn-lg" value="发布" onclick="publish_article()">
    </div>
</form>
</div> 

    <script type="text/javascript" src='{% static "js/jquery.js"%}'></script>
    <script type="text/javascript" src="{% static 'js/layer.js'%}"></script>
    <script type="text/javascript" src="{% static 'editor/editormd.min.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            var editor = editormd("editormd",{
                width:"100%",
                height:640,
                syncScrolling:"single",
                path:"{% static 'editor/lib/' %}"
            });
        });
    </script>
    <link rel="stylesheet" href="{% static 'editor/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'editor/css/editormd.css' %}">
    <script type ="text/javascript">
        function publish_article(){
            {#此处的id=id_title是表单生成的，代码并没有编写此属性#}
            {#var title= $("#id_title").val();#}
            {#var column_id = $("#which_column").val();#}
            {#var body = $("#id_body").val();#}

            var formData = new FormData();
            formData.append('avatar',$("#avatar")[0].files[0]);
            formData.append('title', $("#id_title").val());
            formData.append('column_id', $("#which_column").val());
            formData.append('body', $("#id_body").val());
            $.ajax({
                url:"{% url 'article:re_edit_article' article.id%}",
                type:"POST",
                {#data:{'title':title, 'body': body, 'column_id': column_id},#}
                {#告诉jQuery不要去处理发送的数据, 发送对象。#}
                processData : false,
                {#告诉jQuery不要去设置Content-Type请求头#}
                contentType : false,
                data:formData,
                success:function (e) {
                    if(e=='1'){
                        layer.msg("修改发布成功");
                        location.href = "{% url 'article:article_list' %}";
                    }else if(e=='2'){
                        layer.msg("sorry");
                    } else{
                        layer.msg("项目名和内容必须填写");
                    }
                },
            });
        }
        </script>
{% endblock %}