{% extends "base.html" %}

{% block title %}blog articles{% endblock %}

{% block content %}
    <div class="row text-center vertical-middle-sm">
        <h1>我的博客</h1>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <ul>
            {% for blog in blogs %}
                <a href={{ blog.id }}><li>{{ blog.title }}</li></a>
            {% endfor %}
            </ul>
        </div>
        <div class="col-xs-6 col-md-4">
            <h2 >广告位</h2>
            <p >广告招租</p>
            <img width="200px" src="https://dm30webimages.lynkco.com.cn/LynkCoPortal/Content/images/chenxing2/03yushou/pc/4.jpg">
        </div>
    </div>
{% endblock %}
